*{
    box-sizing: border-box;
}

body{
    background: rgba(0,0,0,0.9);
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.showcase::after{
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url(img/blake-connally-B3l0g6HLxr8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: all 1000ms;
}


.showcase:hover::after{
    filter:blur(0px);
    -webkit-filter: blur(0px);
}

.showcase:hover .content{
    filter: blur(2px);
    -webkit-filter: blur(2px);
}


.content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000ms;
}


.content .logo{
    height: 180px;
    width: 180px;
}

.content .title{
    font-size: 2.2rem;
    margin-top: 1rem;
}

.content .text{
    line-height: 1.7;
    margin-top: 1rem;
}

.container{
    max-width: 960px;
    /* border: 1px solid white; */
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
    margin-top: 10px;
}

.grid-3{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.center{
    text-align: center;
    margin: auto;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #f4f4f4;
}


footer {
    padding: 2.2rem;
}

footer p{
    margin: 0;
}