:root{
  --primary-color: #3a4052;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: var(--primary-color);
}

h1{
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.showcase{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video-container{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: var(--primary-color);
}

.video-container video{
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  /* aa video ne aakhu dekhadva mate chhe jem aapde image mate use kariye chhe cover no a j rite. */


  /* aa je nichhe ni prop chhe te video ne middle ma rakhva mate use thase jayre aapde screen small and big kariye tyare */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.showcase .content{
  z-index: 1;
  color: white;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 25px;
  opacity: 0.6;
}

.btn:hover{
  transform: scale(0.90);
}


#about{
  padding: 40px;
  text-align: center;
}

#about p{
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}

#about h2{
  margin: 30px 0;
  color: var(--primary-color);
}

.social a{
  margin: 0 5px;
}