body{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/* global */
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.button_1{
  height: 38px;
  background: #e8491d;
  border: none;
  padding: 0 20px;
  color: white;
}

/*header*/
header{
  background: #35424a;
  color: white;
  padding: 30px;
  min-height: 70px;
  border-bottom: #e8491d 1px solid;
}

header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}


header li{
  list-style: none;
  display: inline;
  float: left;
  padding: 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

/*showcase*/

#showcase{
  min-height: 400px;
  background-image: url('img/bgimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

#newsletter{
  padding: 15px;
  color: white;
  background: #35424a;
}


/* newsletter */
#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin: 15px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* boxes */
#boxes{
  margin-top: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img{
  width: 90px;
}

/* footer */
footer{
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: #e8491d;
  text-align: center;
}